a.activeHeader{
    color:#5bc0de!important;
    background: #e7e7e7!important;
}
.form-group span{margin-left: 8px;cursor:pointer;}
.col-md-6 .panel-footer i{
    color:#5d7895;
}
.col-md-6 .panel-footer p{
    width:12%;
    display:inline-block;
    cursor:pointer;
}
.col-md-6 .panel-footer p span{
    margin-left: 5px;
    border-right: 1px solid;
    padding-right: 5px;
}
.navbar-right li a{
    cursor:pointer;
}
.loginForm .input-group{
    width: 80%;
    margin: 10px 5%;
}
.tips{
    display:none;
}
#collapseInfo{
    position: absolute;
    width: 300px;
    right: 10px;
    top: 50px;
    z-index:1000;
}
#personalMessage-header{

}
#personalMessage-header li {
    cursor: pointer;
    /* height: 50px; */
    /*margin-top: 20px;*/
    list-style-type: none;
}
#userPic {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    top: -15px;
}
#personalMessage-header li img {
    height: 50px;
    position: absolute;
    top: -15px;
    right: 0;
    border-radius: 50%;
}
#personalMessage-header li hr{
    margin-bottom:10px;
    margin-top:10px;
}
#personalMessage-header li i{
    cursor: pointer;
    font-size: 25px;
}
.left-state {
    width: 80%;
    display: inline-block;
}
.task-content{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.author_name a {
    color: dodgerblue;
    font-weight: bold;
    margin-right: 10px;
}
.task_state {
    margin-left: 10px;
    color: lightseagreen;
    margin-right: 10px;
}
.task-content .right-info {
    width: 20%;
    display: inline;
}
.state-edit {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}
.date {
    float: right;
    cursor: none;
    font-size: 12px;
    font-family: '微软雅黑';
    font-style: italic;
}
.drop-down {
    height: 50px;
    display: none;
}

.edit-statetext {
    color: #333333;
    font-weight: bold;
}
.edit-state {
    padding: 4px 10px 4px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn-group.btn-edit-state {
    display: inline-block;
    position: relative;
    padding: 0 20px;
}
ul .list-group-item img{
    height:30px;
    width:30px;
}
ul .list-group-item span{margin-left: 10px;}