@(title:String)
@main("Welcome to Play") {
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="@routes.Assets.versioned("/stylesheets/webCollection/register.css")"/>
  <title>@title</title>

  <div class="register">
    <div class="registerHeader">
      <div style="width:50%;display:inline-block">
        <p style="border-right:3px solid #777">收藏</p>
        <p>注册</p>
      </div>
      <div style="width:50%;display:inline-block;text-align:right">
        <p style="font-size:18px">已有账号？</p>
        <button>登录</button>
      </div>
    </div>
    <div class="registerContent">
      <p > 请输入您要注册的邮箱</p>
      <input type="text" id="emailInput" placeholder="邮箱"/>
      <button >同意协议并注册</button>
    </div>
  </div>
}