@(title: String,conf: Option[Map[String, String]])

<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/3.3.5/css","bootstrap.min.css"))">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.fullPath("smalot-bootstrap-datetimepicker", "css/bootstrap-datetimepicker.min.css"))">
        <link rel="stylesheet" href="@routes.Assets.versioned("plugins/sweetalert/sweetalert.css")">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("toastr/2.1.0","toastr.min.css"))">
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        <script>

                if(!$CONF$){
                    console.log("conf is empty");
                    var $CONF$ = {};
                    }
                @conf.getOrElse(Map()).map { case (key, value) =>
                $CONF$['@key'] = '@value';
                }
                console.log($CONF$);

        </script>
    </head>
    <body>

        <script src="@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "JSXTransformer.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react-with-addons.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.fullPath("react-router", "build/umd/ReactRouter.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("reflux/0.2.11/dist/reflux.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery/1.11.1/jquery.min.js"))"></script>
        <script type="text/jsx" src="@routes.Assets.versioned("plugins/sweetalert/sweetalert.min.js")"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/3.3.5/js/bootstrap.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.fullPath("smalot-bootstrap-datetimepicker", "js/bootstrap-datetimepicker.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("toastr/2.1.0","toastr.min.js"))"></script>
        <header>
        </header>

        <div class="main_content">
            <div id="webSave"></div>
            <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/common/ajax.js")" ></script>
            <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/common/function.js")" ></script>
            <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/content/actions.js")"></script>
            <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/content/stores.js")"></script>
            <script src="@routes.Assets.versioned("/javascripts/content/components.jsx.js")" type="text/jsx"></script>
            <script src="@routes.Assets.versioned("/javascripts/content/index.jsx.js")" type="text/jsx"></script>
        </div>


    </body>
</html>
